.game-container {
    position: 'relative';
    width: 100%;
    height: 100vh;
    outline: 0px;
    border: 2px solid #ffffff;
    background: url('../../assets/background.jpeg') repeat-x left center;
    display: inline-block;
    -webkit-animation: displace 10s linear infinite;
    animation: displace 10s linear infinite;
    background-size: 100% 100%;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font: 700 50px Poppins;
    margin-top: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@-webkit-keyframes displace {

    from {
      background-position: 0 center;
    }
  
    to {
      background-position: 1920px center;
    }
  
  }
  
  @keyframes displace {
  
    from {
      background-position: 0 center;
    }
  
    to {
      background-position: 1920px center;
    }
}