
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
 
}

.btn {
    font-size: 30px;
}

.button-container a{
    width: 120px;
    height: 40px;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #48B8FA;
    transition: 0.3s;
    font: 700 18px Poppins;
}

.button-container a:first-child{
    margin-right: 30px;
}

.button-container a:hover{
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #48B8FA;
    color: #ffffff;
}