.tile {
    z-index: 0;
    display: inline-flex;
}
 
.tile.rock {
    z-index: 1;
    background-image: url('../../data/tiles/Tilesets/rock.png');
}

.tile.tree {
    z-index: 1;
    background-image: url('../../data/tiles/Tilesets/three.png');    
}

.tile.chest {
    z-index: 1;
    background-image: url('../../data/tiles/Tilesets/chest.png')
}

.map{
    /**background-image: url('../../data/maps/1/mapa1.png');*/
    background-image: url('../../data/maps/1/mapa960x640(32px).png');
    width: 800px;
    height: 400px;
}
