body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.web-container {
  display: grid;
  grid-template-areas: 'game game code' 'game game code' 'description description code';
  grid-gap: 10px;
  margin: 10px;
}

.pages-container{
  grid-area: game;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: 70%;
}

::placeholder {
  color: #48B8FA;
  opacity: 1;
  /* Firefox */
}

.visi-true{
  visibility: visible;
}

.visi-false{
  visibility: visible;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #48B8FA;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #48B8FA;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio]+img {
  cursor: pointer;
}

[type=radio]:checked+img {
  border: 1px solid #FFF;
  transition: 0.3s;
  opacity: 0.8;
}